version: '3'
services:
  web:
    image: abiosoft/caddy:1.0.3
    container_name: web
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CADDYPATH=/.caddy
    volumes:
      - ./public:/srv
      - ./Caddyfile:/etc/Caddyfile
      - caddyacme:/.caddy/acme
      - downloads:/Downloads
    restart: always
    depends_on:
      - v2ray
  v2ray:
    image: v2ray/official
    container_name: v2ray
    volumes:
      - ./config.server.json:/etc/v2ray/config.json
    restart: always
volumes:
  caddyacme:
  downloads:~/Downloads
